In [1]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [4]:
my_list=['Rihan','Ansari','Majid','Amir']
for i in my_list:
    if i=='Majid':
        break
    print(i)

Rihan
Ansari

In [7]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [10]:
for i in range(0,15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [11]:
for i in range(1, 6):
    print("Multiplication table for: ",i)
    
    for j in range(1, 11):
        product = i * j
        print(i,'*',j,'=',i*j)
    break

Multiplication table for:  1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [12]:
num = 1
while num <= 10:
    if num % 2 != 0:
        print(num)
    num = num + 1

1
3
5
7
9